*.pyc
.DS_Store
.supervisor_history
backups
campaign-data
devices.json
fiapps
lextab.py
migrations
parsetab.py
power_switch_log.txt
python
simics-workspace

# Temporary files
*.swp
a9.json
p2020.json

# Misc
output.txt
